*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* google fonts
font-family: 'Lato', sans-serif;
font-family: 'Lato', sans-serif;
*/
/* navbar part css start*/
.main_nav{
    background-color:rgb(0,84,166);
    width: 100%;
    position: relative;
    border-bottom: 0.3rem solid rgb(255,214,2);
    z-index: 5;
   
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
    gap: 1rem;
}
.navbar_brand {
    margin-left: 40px;
    position: absolute;
    margin-top: 15px;
    overflow: hidden;
    z-index: 6;
}
div#navbarSupportedContent {
    padding: 12px;
}
.nav_a{
    color: white;
    font-size: medium;
    font-weight: 600;

}
/* navbar part css end*/
/* header part  css start*/

.nav_a:hover{
    color: rgb(230, 230, 230);
}
.design{
    border-bottom-right-radius:14rem ;
}
.header_button {
    position: relative;
    top: 772px;
    right: -115px;
}
.header_button_Read{
    background-color:rgb(209,176,1);
    padding: 12px;
    border: 1px solid rgb(209,176,1);
    border-radius: 40px;
    width: 15%;
}
.header_contain{
display: block;
text-align: center;
}
h1.header_heading {
    background-color: rgba(103, 153, 202, 0.705);
    padding: 180px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 700;
}
.who_we_are_header{
    background-color: #231f20;
    background-image: url(for_desktop_we_are_09-05-2022_2_copy.png);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* header part  css start*/
/*about part css start*/
.book{
    margin-top: 2.50rem;
    border: 1px solid rgb(255,218,3);
    border-radius: 30px;
    background-color: rgb(255,218,3);
}
.about_section{
    margin-top: 4rem;
}
.app_img{
margin-top: 2rem ;
margin-left: 7.50rem;
}

/*about part css end*/
/*service part css start*/
.service_section{
    padding: 6rem;
    overflow: hidden;
}
.service_menu{
    margin-top: 4rem;
}
.contain{
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    
}
.view_button {
    width: 10rem;
    margin: 5rem auto;
    font-weight: 600;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 25px;
    background-color: rgb(255,218,3);
}
.service_header{
    background-color: #231f20;
    background-image: url(for_desktop_we_are_09-05-2022_1\ \(1\).png);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*service part css end*/
/*location part css start*/
.location{
    background-color: rgb(255,214,2);
    position: relative;
}
.secondary__bg--btn {
    color: #ffd602;
    background: #231f20;
    border-radius: 50px;
}
.find__upay--btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 55px;
    letter-spacing: .03em;
}
/*location part css end*/
/* media part css start*/
.media_header{
    background-color: #231f20;
    background-image: url(mediaimgblog.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.media_card{
    margin-top: 6rem;
}
/* media part css end*/
/* help part css start */
.help_content{
    padding-bottom: 10rem;
}

.help_card{
    border: 1px solid rgba(39, 100, 162, 0.637);
    position: relative;
   
}

#help{
    background-image: url(bg-shap.82f5d8920b8b0824d75636d990eb6071.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 15rem;
   
    
}
.col-md-4.help_gap {
    padding: 1rem;
}
.help_content{
    align-items: flex-end;
}
a.help_icon {
    color: white;
    align-items: center;
    display: block;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 50px;
}
.card.help_card.text-bg-dark {
    top: -80px;
    border-bottom-right-radius: 30%;
    width: 90%;
   
}
 .cards_h5 {
    border-bottom: 4px solid rgb(255,214,2);
    padding: 18px 0px;
    
}
.card-img-overlay{
    background-color: rgba(39, 100, 162, 0.637);
    border-bottom-right-radius: 30%;
   
}
img.card-img {
    position: relative;
    width: 100%;
    height: 20rem;
    border-bottom-right-radius: 30%;
   
}
/* help part css end */
/* footer part css start */

.footer_section{
    background-color: rgb(46,46,47) ;
    box-sizing: border-box;
}
.footer_contect, li, a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
/* footer part css end */
